# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Local output files
output/
tasks.db

# IDE / Editor specific
.idea/
.vscode/

# Pytest cache
.pytest_cache/
